.box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: -40px;
}

.image {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.button {
  background-color: red;
  border-color: red;
  color: white;
  font-size: 25px;
  border-radius: 5px;
  margin-top: 20px;
}

.button:hover {
  background-color: darkred;
  border-color: darkred;
}

.yes {
  margin-right: 10px;
}

.image-clear {
  height: 400px;
  width: 400px;
  object-fit: cover;
  background-color: white;
  border-radius: 10px;
}

.image-yes {
  object-fit: cover;
}

@media screen and (max-width: 500px) {
  .image {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 10px;
    width: 80vw;
    height: 80vw;
  }

  .image-clear {
    height: 400px;
    width: 400px;
    object-fit: cover;
    background-color: white;
    border-radius: 10px;
    width: 80vw;
    height: 80vw;
  }

  .image-yes {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}